body {
  font-family: "Roboto", sans-serif;
  scroll-behavior:smooth;
}

h1,
h3,
p {
  font-family: "Roboto", sans-serif;
}

#navbar {
  background-color: #fff;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  display: inline-block;
  margin: 0;
  font-size: 48px;
  color: #ff506f;
  font-weight: 700;
}

#navbar ul {
  display: flex;
  list-style-type: none;
}

#navbar ul li {
  /* margin: 0 10px; */
  font-weight: 500;
  padding: 10px;
}

#cvbtn {
  background-color: #ff506f;
  border-radius: 10px;
  color: #fff;
  font-weight: 700 !important;
  cursor: pointer;
}

#cvbtn a{
  text-decoration: none;
  color: white;
}

#herosection {
  background-color: #222222;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  padding: 0 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

#herosection img {
  width: 500px;filter: drop-shadow(5px 5px 10px rgba(255, 166, 0, 0.5));
}

.sectionheading {
  text-align: center;
  margin-top: 30px;
}

#name {
  color: #fff;
  padding: 0;
  margin: 0;
}

#tagline {
  color: #ff506f;
  padding: 0;
  margin: 0;
}

#herosection button {
  background-color: #ff506f;
  color: #fff;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px 0;
}

.section {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  min-height: 50vh;
}

i {
  color: #ff506f;
}

#skills i {
  font-size: 108px;
  width: 25%;
  margin-top: 50px;
}

#projects {
  display: flex;
  justify-content: space-around;
}

#projects div {
  width: 30%;
  border: 1px solid #ff506f;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
}

img,
i {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

img:hover,
i:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#contact ul a {
  color: #aaa;
}

#contact ul li {
  color: #aaa;
  font-size: x-large;
  margin: 10px;
}
